body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

#musicCarousel img{
    object-fit: cover;
    height: 700px;
    width: 100%;
}
#quiz-section img{
    object-fit: cover;
    height: 200px;
}